<div class="user-profile">
  <div class="profile-icon">
    <div class="name">
      <i class="fa icon fa-3x fa-user-circle-o"></i>
      <p>
        <span>Danielle HON </span> 43 ans <br />
        Né le 14/07/1989 , de sex masculin cisgenr
      </p>
    </div>

    <div class="button-container">
      <button class="custom-button">
        <i class="fa fa-user-circle-o"></i> Compte activé
      </button>
      <button class="custom-button">
        <i class="fa fa-id-card"></i> Identité validée
      </button>
    </div>

  </div>
  <div class="patient-info-container">
    <div class="info-row">
      <div class="info-label">Téléphone patient·e:</div>
      <div class="info-value"><span class="blue">+33 6 52 25 88 64</span></div>
      <div class="info-label">Protocole en cours:</div>
      <div class="info-value"><span class="blue">CHIMIO</span></div>
    </div>
    <div class="info-row">
      <div class="info-label">Praticien·ne référent·e :</div>
      <div class="info-value"><span class="green"> <i class="fa icon  fa-user-circle-o"></i>Josie BALLARD</span></div>
      <div class="info-label">Pathologie:</div>
      <div class="info-value">Cancel du sein</div>
    </div>
    <div class="info-row">
      <div class="info-label">Médecin référent·e :</div>
      <div class="info-value"><span class="green"><i class="fa icon  fa-user-circle-o"></i>Alexandre HINTEUR</span></div>
      <div class="info-label">Date de début:</div>
      <div class="info-value">09/10/2023</div>
    </div>
  </div>

  <div class="chargement">
    <p>Problème de chargement</p>
    <span> Lorem ipsum dolor sit amet</span>

    <div><img src="assets/chargement.png" alt="" /></div>

    <div class="titre">Que pouvez-vous faire ?</div>
    <ul>
      <li>1.Assurez vous que vous êtes bien connecté·e à internet</li>
      <li>2.Vider le cache de votre navigateur et recharger la page</li>
      <li>3.Si le problème persiste, contactez le support</li>
    </ul>
  </div>
</div>
