<div class="login">
  <img src="assets/image.png" alt="" />

  <div class="form">
    <div class="login-container">
      <h2>
        Bienvenue dans <br />
        votre <span> espace UniQ </span>
      </h2>
      <form>
        <div class="form-group">
          <input type="email" placeholder="Votre adresse email" />
        </div>
        <div class="form-group">
          <input type="password" placeholder="Votre mot de passe" />
        </div>
        <button type="submit">Se Connecter</button>

        <div class="passwrd">Mot de passe oublié ?</div>
      </form>
    </div>
  </div>
</div>
